.GGG {
    flex: 1;
    height: 100vh;
    flex-basis: 100%;
    width: 100vh;
}

#area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.single {
    flex: 1;
    height: 100vh;
    flex-basis: 100%;
    width: 100vh;
}